.cajaBotones {
    background-color: rgba(230, 240, 244, 0.942);
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.cajaBotones div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaBotones button {
    background-color: aliceblue;
}

.cajaBotones input {
    margin: 10px;
    text-align: center;
    font-size: 1em;
}



