.tarjetasProductos {
    gap: 1em;
    height: 350px;
    width: 300px;
    margin: 20px;
    text-align: center;
    border-radius: 0.3em;
    overflow: hidden;
    box-shadow: 0 10px 25px -10px black;
    background-color: whitesmoke;
}
.texto {
    padding: 20px;
    font-size: 1.3em;
}

.imgContenedor {
    height: 200px;
}

.imagen {
    padding: 20px;
    height: 150px;
}

.tarjetaImagen {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.BotonDetalle {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    background-color: #f2bde8;
    color: #606060;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.1em 0.3em;
}

.hvr-rectangle-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background:#f2bde8;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f3ddef;
    border-radius: 10px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
    color: white
}

.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.bubbleMas {
    margin: 0;
    height: 0;
    position: relative;
    left: 45%;
    bottom: 4%;
}