.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    background: #e3efee;
}

.nav a {
    text-decoration: none;
    padding: 20px;
    color: #606060;
    font-size: 1.2em;
    font-family: 'Amatic SC', cursive;
}

.logo {
    color: rgb(194, 241, 226);
    font-size: 3em;
}


