.contenedor {
    display: flex;
    justify-content: space-between;
}

.nav {
    margin: 0;
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
}

.nav a {
    text-decoration: none;
    padding: 30px;
    color: #606060;
    font-size: 1.2em;
    font-family: 'Amatic SC', cursive;
}

img {
    height: 100px;
    width: 100px;
}

